@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
  }
  * {
    @apply transition-all duration-300 ease-in-out;
  }
}

@layer components {
  .page-root {
    @apply flex min-h-screen w-screen flex-col items-center justify-center bg-black;
  }
  .input-text {
    @apply h-8 w-4/5 rounded-full bg-gray-800/50 px-4 text-center text-gray-200 outline-none ring-1 ring-gray-600 placeholder:text-gray-600 hover:ring-gray-400 focus:ring-gray-300 xxs:h-12;
  }
  .input-label {
    @apply mb-1 text-gray-500 sm:ml-16 sm:self-start;
  }
  .card-container {
    @apply flex max-h-64 w-80 flex-col items-center space-y-4 rounded-xl bg-gray-900 p-5;
  }
  .card-heading {
    @apply bg-gradient-to-br from-cyan-500 to-cyan-200 bg-clip-text text-lg font-semibold text-transparent;
  }
  .card-content {
    @apply text-slate-300;
  }
}
