@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
    @apply bg-black;
  }
}

@layer components {
  .animate {
    @apply transition-all duration-300 ease-in-out;
  }
  .page-root {
    @apply flex min-h-screen w-screen flex-col items-center justify-center;
  }
  .input-text {
    @apply animate h-8 w-4/5 rounded-full bg-slate-400/20 px-4 text-center text-slate-200 outline-none ring-slate-400 placeholder:text-slate-400/60 hover:shadow-lg hover:shadow-slate-400/30 hover:ring-1 hover:ring-slate-200 xxs:h-12;
  }
  .input-label {
    @apply mb-1 text-slate-400 sm:ml-16 sm:self-start;
  }
  .submit-button {
    @apply animate z-10 mt-4 h-8 w-4/5 rounded-full bg-violet-600 px-4 text-center font-medium text-slate-200 outline-none ring-violet-500 hover:shadow-lg hover:shadow-violet-500/30 hover:ring-1 hover:ring-violet-300 xxs:h-12;
  }
  .card-container {
    @apply flex max-h-64 w-80 flex-col items-center space-y-4 rounded-xl bg-gray-900 p-5;
  }
  .card-heading {
    @apply bg-gradient-to-br from-cyan-500 to-cyan-200 bg-clip-text text-lg font-semibold text-transparent;
  }
  .card-content {
    @apply text-slate-300;
  }

  .background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
  }
  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  .progress-point {
    @apply flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-full font-bold;
  }
}
